[Bb]uild/
[Dd]ebug/
build_*/
_skbuild/
.ccls-cache/
*.egg-info/
.pytest_cache/
__pycache__/
.nox/
.cache/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.exe
*.obj
*.o
*.a
*.lib
*.exp
compile_commands.json
.DS_Store
.gdb_history
dist
